In [1]:
#label encode
from sklearn.preprocessing import LabelEncoder

# Data
data = ['senin', 'selasa', 'rabu', 'kamis', 'jumat']

# Inisialisasi LabelEncoder
label_encoder = LabelEncoder()

# Melakukan fit dan transformasi data
encoded_labels = label_encoder.fit_transform(data)

# Menampilkan hasil
print(f'Data asli: {data}')
print(f'Data yang sudah di-label encode: {encoded_labels}')

Data asli: ['senin', 'selasa', 'rabu', 'kamis', 'jumat']
Data yang sudah di-label encode: [4 3 2 1 0]

In [4]:
import pandas as pd

# Data
data = ['senin', 'selasa', 'rabu', 'kamis', 'jumat']

# Melakukan One Hot Encoding menggunakan pd.get_dummies()
one_hot_encode_data = pd.get_dummies(data)

# Menampilkan hasil
print(one_hot_encode_data)

   jumat  kamis  rabu  selasa  senin
0      0      0     0       0      1
1      0      0     0       1      0
2      0      0     1       0      0
3      0      1     0       0      0
4      1      0     0       0      0

In [10]:
from sklearn.preprocessing import OrdinalEncoder

# Data
data = [['low'], ['medium'], ['high']]

# Inisialisasi OrdinalEncoder
ordinal_encoder = OrdinalEncoder()

# Melakukan fit dan transformasi data
numeric_data = ordinal_encoder.fit_transform(data)

# Menampilkan hasil
print(f'Data asli: {data}')
print(f'Data yang sudah di-Ordinal Encode:\n{numeric_data}')

Data asli: [['low'], ['medium'], ['high']]
Data yang sudah di-Ordinal Encode:
[[1.]
 [2.]
 [0.]]

In [11]:
# buat file csv
# load data di dalam python 
# ambil data kategori
#encode
#tampilkan

In [10]:
import pandas as pd

# Membaca file CSV
file_path = 'data_perusahaanA.csv'
data = pd.read_csv(file_path,delimiter=';')

# Menampilkan isi file CSV
print("Isi dari file CSV:")
print(data)

Isi dari file CSV:
  Nama Karyawan Jenis Kelamin    Alamat     Jabatan
0        nadhif          Laki      Pati    Direktur
1         minan          Laki      Pati       staff
2        fajrul     Perempuan  Surabaya     manager
3          fian          Laki   jombang         hrd
4        wildan     Perempuan    madura       staff
5        ronggo          Laki  lamongan       staff
6          agus     Perempuan  lamongan  sekertaris

In [14]:
jenisKelamin=data['Jenis Kelamin']
asalKota=data['Alamat']
jabatan=data['Jabatan']

In [18]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
jenis_kelamin_encoded =label_encoder.fit_transform(jenisKelamin)
print(jenis_kelamin_encoded)

[0 0 1 0 1 0 1]

In [24]:
asal_kota_encoded = pd.get_dummies(asalKota)
print(asal_kota_encoded)
asal_kota_encoded =asal_kota_encoded.values.tolist()
asal_kota_encoded

   Pati  Surabaya  jombang  lamongan  madura
0     1         0        0         0       0
1     1         0        0         0       0
2     0         1        0         0       0
3     0         0        1         0       0
4     0         0        0         0       1
5     0         0        0         1       0
6     0         0        0         1       0

[[1, 0, 0, 0, 0],
 [1, 0, 0, 0, 0],
 [0, 1, 0, 0, 0],
 [0, 0, 1, 0, 0],
 [0, 0, 0, 0, 1],
 [0, 0, 0, 1, 0],
 [0, 0, 0, 1, 0]]

In [26]:
jabatan_encoded =label_encoder.fit_transform(jabatan)
print(jabatan_encoded)

[0 4 2 1 4 4 3]

In [29]:
data_encoded = data.copy()
data_encoded['Jenis Kelamin'] = jenis_kelamin_encoded
data_encoded['Jabatan'] = jabatan_encoded
data_encoded['Alamat'] = asal_kota_encoded
data_encoded

  Nama Karyawan  Jenis Kelamin           Alamat  Jabatan
0        nadhif              0  [1, 0, 0, 0, 0]        0
1         minan              0  [1, 0, 0, 0, 0]        4
2        fajrul              1  [0, 1, 0, 0, 0]        2
3          fian              0  [0, 0, 1, 0, 0]        1
4        wildan              1  [0, 0, 0, 0, 1]        4
5        ronggo              0  [0, 0, 0, 1, 0]        4
6          agus              1  [0, 0, 0, 1, 0]        3